@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
	background-image:url('https://i.pinimg.com/736x/7b/ba/94/7bba9438553554af7ffdd005974016bc.jpg') ;
	background-repeat:no-repeat ;
	background-size:cover;
	color: white;
	font-family:'Poppins', serif;
}


.main-form-box{
	margin: auto;
	background-color: white;
	color:black;
	width: 700px;
	padding: 40px;
	border-radius:30px ;
}

.inner-box{
	background-color: rgba(230, 230, 250, 0.5);
	padding:30px;
	backdrop-filter:blur(10px);
}